{% include 'darkdashboard/header.html' %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

              <div class="row layout-top-spacing"> </div>
<br>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0" style="color: green;">Data Tables - Ultimate Check Form </h5>
                                <p style="color: green;">This Database is connected with Ultimate Bank Details only. This will collect all user details.</p>
                            </div>
                            <div class="card-body">

<form action="amazon-three" method="post">
  {% csrf_token %}

    <div class="form-group mb-4">
        <input type="text" name="database" class="form-control" id="lFullName" placeholder="Database ID *">
    </div>
    <div class="form-group mb-4">
       <select class="form-control" name="verificationamount">
    <option value="100" name="100">$100</option>
    <option value="200" name="200">$200</option>
    <option value="250" name="250">$250</option>
    <option value="480" name="480">$480</option>
    <option value="720"name="720">$720</option>
    <option value="970" name="970">$970</option>
    <option value="manual" name="manual">Go Manual</option>
</select>
    </div>
   <div id="myDIV">
   	 <div class="form-group mb-4">
        <input type="text" name="vletters" class="form-control" id="lFullName" placeholder="Enter Money In Letters *">
    </div>
     <div class="form-group mb-4">
        <input type="text" name="vnumbers" class="form-control" id="lFullName" placeholder="Enter In Numeric *">
    </div>
</div>
    <button type="submit" id="test" class="btn btn-primary mt-4">Submit</button>
    <button type="button" class="btn btn-primary mt-4" onclick="myTest()">Create Manual Check </button>

</form>

</div>
</div>


<script type="text/javascript">
 var mytesting = document.querySelector("#myDIV")
 mytesting.style.display = "none"
function myTest() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
<script>var audioUrl = "{% static 'darkdashboard/click.mp3' %}";
$('#test').click( () => new Audio(audioUrl).play() ); 
</script>
 {% include 'darkdashboard/footer.html' %}