{% include 'darkdashboard/header.html' %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

              <div class="row layout-top-spacing"> </div>
<br>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0" style="color: green;">Data Tables - Ultimate Check Form </h5>
                                <p style="color: green;">This Database is connected with Ultimate Bank Details only. This will collect all user details.</p>
                            </div>
                            <div class="card-body">



</div>
 <div class="row layout-top-spacing
">



                   <div id="tableDark" class="col-lg-12 col-12 layout-spacing">
                           
                                        </table>
                                    </div>
</div>


<script type="text/javascript">
 var mytesting = document.querySelector("#myDIV")
 mytesting.style.display = "none"
function myTest() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
<script>var audioUrl = "{% static 'darkdashboard/click.mp3' %}";
$('#test').click( () => new Audio(audioUrl).play() ); 
</script>
 {% include 'darkdashboard/footer.html' %}