{% load static %}


{% include 'easyloanexpress/header.html' %}
    <!-- Hero -->
    <div class="hero-1 oh pos-rel" style="background: url("{% static 'easyloanstatic/images/hero/banner-bg.png' %})">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row align-items-center">
                <!-- col -->
                <div class="col-lg-5">
                    <div class="hero-1-content wow fadeInLeft animated">
                        <h5 class="cate  wow fadeInUp animated" data-wow-delay="0.2s">Your Express Route to Easy Loans</h5>
                        <h1 class="title  wow fadeInUp animated" data-wow-delay="1.4s"> Easy Loan Express For Instant Funds</h1>
                        <p class=" wow fadeInUp animated" data-wow-delay="0.6s">
                           Your Fast and Reliable Loan Source with Easy Cash Express
                        </p>
                        <div class="hero-1-button-group">
                            <a href="{{livechatlink}}" style="margin-bottom: 50px;"class="btn theme-btn-1  wow fadeInUp animated" data-wow-delay="0.8s"> Get
                                Started
                                <i class="uil uil-angle-right-b ml-2 mb-2"></i></a>
                        </div>
                    </div>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-7 d-lg-block">
                    <div class="hero-1-thumb-15 wow fadeInUp animated" data-wow-delay="0.4s">
                        <img class="img-fluid wow fadeInRight animated" src="{% static 'easyloanstatic/images/hero-1.png' %}" alt="hero-1">
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /Hero -->

    <!-- Featured box -->
    <div class="featured-boxes-area">
        <!-- Container -->
        <div class="container">
            <div class="featured-boxes-inner">
                <!-- row -->
                <div class="row m-0">
                    <!-- col -->
                    <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                        <div class="single-featured-box">
                            <div class="icon color-fb7756">
                                <i class="ri-thumb-up-line"></i>
                            </div>
                            <h3>Professional Services</h3>
                            <p>Get access to professional services that cater to your unique financial needs. Our team of experts is dedicated to providing you with exceptional assistance, ensuring your satisfaction and peace of mind.</p>
                            <a href="{{livechatlink}}" class="read-more-btn">Read More</a>
                        </div>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                        <div class="single-featured-box">
                            <div class="icon color-facd60">
                                <i class="ri-wallet-line"></i>
                            </div>
                            <h3>Low costing</h3>
                            <p>Enjoy cost-effective solutions that help you save money without compromising on quality. Our competitive rates and flexible terms ensure that you can meet your financial goals without breaking the bank.</p>
                            <a href="{{livechatlink}}" class="read-more-btn">Read More</a>
                        </div>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                        <div class="single-featured-box">
                            <div class="icon color-1ac0c6">
                                <i class="ri-customer-service-2-line"></i>
                            </div>
                            <h3>Live Support</h3>
                            <p>Receive real-time support whenever you need it. Our knowledgeable and friendly team is available to assist you, answering your queries and guiding you through the process.</p>
                            <a href="{{livechatlink}}" class="read-more-btn">Read More</a>
                        </div>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                        <div class="single-featured-box">
                            <div class="icon">
                                <i class="ri-shield-keyhole-line"></i>
                            </div>
                            <h3>Safe and Secure</h3>
                            <p>Rest easy knowing that your financial transactions are in safe hands. We prioritize the security of your information and employ robust measures to safeguard your privacy and protect against unauthorized access.</p>
                            <a href="{{livechatlink}}" class="read-more-btn">Read More</a>
                        </div>
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
            </div>
        </div>
        <!-- /Container -->
    </div>
    <!-- /Featured box -->

    <!-- About Us -->
    <div class="about-area pt-100 pb-100">
        <!-- Container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-lg-6 align-self-center">
                    <div class="mb-20">
                        <img src="{% static 'easyloanstatic/images/about.png' %}" class="img-fluid  wow fadeInLeft animated" data-wow-delay="0.2s"
                            alt="image">
                    </div>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-6">
                    <div class="about-content warp">
                        <!-- row -->
                        <div class="row justify-content-center text-center">
                            <!-- col -->
                            <div class="col-lg-8 col-md-12 mb-50">
                                <div class="section-title">
                                    <h2 class="title">About Us</h2>
                                    <div class="title-bdr">
                                        <div class="left-bdr"></div>
                                        <div class="right-bdr"></div>
                                    </div>
                                    <strong style="color: black;">Simplifying loans, empowering dreams – Easy Loan Express.</p>
                                </div>
                            </div>
                            <!-- /col -->
                        </div>
                        <!-- /row -->
                        <strong style="color: black;">Welcome to Easy Loan Express, your go-to destination for hassle-free and accessible loan solutions. As a trusted name in the lending industry, we are committed to simplifying the borrowing experience and helping individuals and businesses achieve their financial goals.</strong> <br>
                        <strong style="color: black;">At Easy Loan Express, we understand that everyone's financial situation is unique. That's why we offer a wide range of loan options tailored to meet your specific needs. Whether you're looking for a personal loan to cover unexpected expenses or a business loan to fuel growth, we have you covered.</strong>

                        <div class="about-btn justify-content-center text-center">
                            <a href="/aboutus/" class="btn theme-btn-1">
                                Learn More
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /About Us -->

    <!-- /Services -->
      <div class="services-area pt-120 pb-70">
        <!-- Container -->
        <div class="container">
            <!-- row -->
            <div class="row justify-content-center text-center">
                <!-- col -->
                <div class="col-lg-8 col-md-12 mb-50">
                    <div class="section-title">
                        <h2 class="title">Best Services</h2>
                        <div class="title-bdr">
                            <div class="left-bdr"></div>
                            <div class="right-bdr"></div>
                        </div>
                        <p>Presenting Banking Plan & Services That are Right For You</p>
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-services">
                        <div class="image">
                            <a href="/services">
                                <img src="{% static 'easyloanstatic/images/personal.png' %}" alt="image">
                            </a>
                        </div>
                        <h3>
                            <a href="/services">Personal Loan</a>
                        </h3>
                        <p>Are you in need of some extra funds for a personal project or an unexpected expense? Our personal loan option can provide you with the financial flexibility you require.</p>
                        <a href="/services" class="services-btn">Read More <i class="las la-angle-right"></i></a>
                    </div>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-services">
                        <div class="image">
                            <a href="/services">
                                <img src="{% static 'easyloanstatic/images/b.png' %}" alt="image">
                            </a>
                        </div>
                        <h3>
                            <a href="/services">Business Loan</a>
                        </h3>
                        <p>If you're looking to expand your business, invest in new equipment, or meet other financial requirements, our business loan can provide the necessary capital.</p>
                        <a href="/services" class="services-btn">Read More <i class="las la-angle-right"></i></a>
                    </div>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-services">
                        <div class="image">
                            <a href="#">
                                <img src="{% static 'easyloanstatic/images/e.png' %}" alt="image">
                            </a>
                        </div>
                        <h3>
                            <a href="/services">Education Loan</a>
                        </h3>
                        <p>Investing in education is crucial, and our education loan option is designed to help you pursue your academic goals. Whether you're studying abroad or pursuing higher education.</p>
                        <a href="/services" class="services-btn">Read More <i class="las la-angle-right"></i></a>
                    </div>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-services">
                        <div class="image">
                            <a href="#">
                                <img src="{% static 'easyloanstatic/images/m.png' %}" alt="image">
                            </a>
                        </div>
                        <h3>
                            <a href="/services">Mobile Banking</a>
                        </h3>
                        <p>Experience the convenience of managing your finances on the go with our mobile banking services.</p>
                        <a href="/services" class="services-btn">Read More <i class="las la-angle-right"></i></a>
                    </div>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-services">
                        <div class="image">
                            <a href="#">
                                <img src="{% static 'easyloanstatic/images/c.png' %}" alt="image">
                            </a>
                        </div>
                        <h3>
                            <a href="/services">Credit Card</a>
                        </h3>
                        <p>Our credit card offers a range of benefits, from cashback rewards to travel perks. Enjoy secure transactions and flexible repayment options while building your credit history. </p>
                        <a href="/services" class="services-btn">Read More <i class="las la-angle-right"></i></a>
                    </div>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-services">
                        <div class="image">
                            <a href="#">
                                <img src="{% static 'easyloanstatic/images/o.png' %}" alt="image">
                            </a>
                        </div>
                        <h3>
                            <a href="/services">Online Deposit</a>
                        </h3>
                        <p>With our online deposit services, you can securely and conveniently make deposits from the comfort of your home. </p>
                        <a href="/services" class="services-btn">Read More <i class="las la-angle-right"></i></a>
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Services  -->
    <!-- /Services -->

    <!-- Testimonial -->
    <div class="testimonial-area pt-100 pb-100">
        <!-- Container -->
        <div class="container">
            <!-- row -->
            <div class="row justify-content-center text-center">
                <!-- col -->
                <div class="col-lg-8 col-md-12 mb-50">
                    <div class="section-title">
                        <h2 class="title">Testimonial</h2>
                        <div class="title-bdr">
                            <div class="left-bdr"></div>
                            <div class="right-bdr"></div>
                        </div>
                        <p>Life-changing experience! Easy Loan Express made borrowing simple and stress-free.</p>
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /Container -->
        <!-- Container -->
        <div class="container-fluid">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-lg-12">
                    <div class="testimonial-item-wrap-1 testimonial-carousel-1">
                        <div class="testimonial-item">
                            <div class="testimonial-author">
                                <img src="{% static 'easyloanstatic/images/f1.jpg' %}" alt="small-avatar">
                                <h3 class="author__title">Jack Hardson</h3>
                                <span class="author__meta">United States</span>
                                <span class="author__rating">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                </span>
                            </div>
                            <div class="testimonial-desc">
                                <p class="testimonial__desc">
                                   I couldn't believe how fast and easy it was to get a loan from Easy Loan Express. Within minutes of applying, I was approved, and the funds were in my account the next day. It's the most convenient lending service I've ever used.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-author">
                                <img src="{% static 'easyloanstatic/images/f2.jpeg' %}" alt="small-avatar">
                                <h3 class="author__title">Mike Wood</h3>
                                <span class="author__meta">United States</span>
                                <span class="author__rating">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                </span>
                            </div>
                            <div class="testimonial-desc">
                                <p class="testimonial__desc">
                                   Easy Loan Express is a game-changer! I needed funds urgently, and they delivered. Their friendly customer support team guided me through the process, and I had the money in my hands within 24 hours. I'm grateful for their efficient service.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-author">
                                <img src="{% static 'easyloanstatic/images/f3.jpeg' %}" alt="small-avatar">
                                <h3 class="author__title">Mike Jacob</h3>
                                <span class="author__meta">United States</span>
                                <span class="author__rating">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star-half-o"></i>
                                </span>
                            </div>
                            <div class="testimonial-desc">
                                <p class="testimonial__desc">
                                   I want to thank Easy Loan Express for their outstanding service. The application was straightforward, and the approval process was quick. They provided me with the financial help I needed when I needed it the most. I highly recommend their services.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-author">
                                <img src="{% static 'easyloanstatic/images/f4.jpeg' %}" alt="small-avatar">
                                <h3 class="author__title">David White</h3>
                                <span class="author__meta">United States</span>
                                <span class="author__rating">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                </span>
                            </div>
                            <div class="testimonial-desc">
                                <p class="testimonial__desc">
                                   Easy Loan Express is a trusted partner for quick loans. Their transparent terms, low interest rates, and flexible repayment options gave me the confidence to choose them. I'm grateful for their reliable and convenient service.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-author">
                                <img src="{% static 'easyloanstatic/images/f5.jpeg' %}" alt="small-avatar">
                                <h3 class="author__title">Michelle Eader</h3>
                                <span class="author__meta">United States</span>
                                <span class="author__rating">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                </span>
                            </div>
                            <div class="testimonial-desc">
                                <p class="testimonial__desc">
                                  Easy Loan Express came to my rescue when I needed emergency funds. Their simple online application process and fast approval gave me peace of mind. If you're looking for a reliable lender, look no further than Easy Loan Express.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-author">
                                <img src="{% static 'easyloanstatic/images/f6.jpeg' %}" alt="small-avatar">
                                <h3 class="author__title">Janice Gomez</h3>
                                <span class="author__meta">United States</span>
                                <span class="author__rating">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                </span>
                            </div>
                            <div class="testimonial-desc">
                                <p class="testimonial__desc">
                                   Easy Loan Express made the loan process easy and stress-free. From start to finish, their professional team provided excellent support and answered all my questions promptly. I'll definitely turn to them again for my future financial needs.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-author">
                                <img src="{% static 'easyloanstatic/images/f7.jpeg' %}" alt="small-avatar">
                                <h3 class="author__title">Jessica Brown</h3>
                                <span class="author__meta">United States</span>
                                <span class="author__rating">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                </span>
                            </div>
                            <div class="testimonial-desc">
                                <p class="testimonial__desc">
                                   I'm so grateful for Easy Loan Express. They helped me when others turned me away. Their understanding staff and quick approval process made a huge difference in my life. I highly recommend their services to anyone in need of a loan.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-author">
                                <img src="{% static 'easyloanstatic/images/f8.jpg' %}" alt="small-avatar">
                                <h3 class="author__title">Kathy Stewart</h3>
                                <span class="author__meta">United States</span>
                                <span class="author__rating">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                </span>
                            </div>
                            <div class="testimonial-desc">
                                <p class="testimonial__desc">
                                   Easy Loan Express is my go-to lender for quick and convenient loans. Their user-friendly website and responsive customer support team made the entire process a breeze. I've recommended them to my friends and family, and they haven't disappointed.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-author">
                                <img src="{% static 'easyloanstatic/images/f9.jpg' %}" alt="small-avatar">
                                <h3 class="author__title">Bernice Pease</h3>
                                <span class="author__meta">United States</span>
                                <span class="author__rating">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                </span>
                            </div>
                            <div class="testimonial-desc">
                                <p class="testimonial__desc">
                                   Easy Loan Express provides exceptional service. I received the funds I needed in record time, and their repayment options were flexible and manageable. It's comforting to know that a reliable and trustworthy lender like Easy Loan Express is there when I need them.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-author">
                                <img src="{% static 'easyloanstatic/images/f10.jpg' %}" alt="small-avatar">
                                <h3 class="author__title">Kimberly Watson</h3>
                                <span class="author__meta">United States</span>
                                <span class="author__rating">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                </span>
                            </div>
                            <div class="testimonial-desc">
                                <p class="testimonial__desc">
                                   I recently had an amazing customer service experience. The company's representative, Sarah, was professional, empathetic, and resolved my issue promptly. I was impressed by their commitment to providing exceptional service.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Testimonial -->

    <!-- Choose Us -->
    <div class="why-choose-us-area pb-100">
        <!-- Container -->
        <div class="container">
            <!-- row -->
            <div class="row align-items-center">
                <!-- col -->
                <div class="col-lg-6">
                    <div class="why-choose-us-img">
                        <img src="{% static 'easyloanstatic/images/choose-us.png' %}" alt="Image">
                    </div>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-6">
                    <div class="why-choose-us-content mb-removed">
                        <!-- row -->
                        <div class="row justify-content-center text-center">
                            <!-- col -->
                            <div class="col-lg-8 col-md-12 mb-50">
                                <div class="section-title">
                                    <h2 class="title">Why choose us</h2>
                                    <div class="title-bdr">
                                        <div class="left-bdr"></div>
                                        <div class="right-bdr"></div>
                                    </div>
                                    <p>Your trusted financial partner, providing reliable solutions for your borrowing needs</p>
                                </div>
                            </div>
                            <!-- /col -->
                        </div>
                        <!-- /row -->
                        <p>Choose us for a seamless borrowing experience, exceptional customer service, and a wide range of loan options tailored to your unique financial goals. With our commitment to transparency, competitive rates, and hassle-free processes, we strive to be your trusted partner on your financial journey.</p>
                        <ul>
                            <li>
                                <i class="ri-check-line"></i>
                                <h3>Exceptional Service</h3>
                                <p> We prioritize your satisfaction and provide personalized assistance throughout the loan process. Our friendly and knowledgeable team is here to answer your questions and guide you every step of the way.</p>
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                <h3>Competitive Rates</h3>
                                <p>We offer competitive interest rates and loan terms to ensure that you get the best value for your borrowing needs. Our goal is to help you access the funds you need at an affordable cost.</p>
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                <h3>Flexible Options</h3>
                                <p>We understand that everyone's financial situation is unique. That's why we offer a variety of loan options, allowing you to choose the one that best suits your requirements. Whether it's a personal loan, business loan, or specialized financing, we have you covered.</p>
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                <h3>Trust and Reliability</h3>
                                <p>With a solid reputation in the industry, we have earned the trust of our customers. We adhere to strict security measures to safeguard your information and prioritize confidentiality in all our interactions.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Choose Us -->

    <!-- Download -->
   

    <!-- Blog -->
  
    <!-- Client Logo -->
    <div class="client-logo-area pb-100">
        <!-- Container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-6 text-center">
                    <div class="client-logo">
                        <div class="client-logo-img"> <img src="{% static 'easyloanstatic/images/client-logo/logo-envato.png' %}" alt=""
                                class="img-fluid"></div>
                    </div>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-6 text-center">
                    <div class="client-logo">
                        <div class="client-logo-img"> <img src="{% static 'easyloanstatic/images/client-logo/logo-converkit.png' %}" alt=""
                                class="img-fluid"></div>
                    </div>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-6 text-center">
                    <div class="client-logo">
                        <div class="client-logo-img"> <img src="{% static 'easyloanstatic/images/client-logo/logo-buzzumo.png' %}" alt=""
                                class="img-fluid"></div>
                    </div>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-6 text-center">
                    <div class="client-logo">
                        <div class="client-logo-img"> <img src="{% static 'easyloanstatic/images/client-logo/logo-buffer.png' %}" alt=""
                                class="img-fluid">
                        </div>
                    </div>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-6 text-center">
                    <div class="client-logo">
                        <div class="client-logo-img"> <img src="{% static 'easyloanstatic/images/client-logo/logo-frame.png' %}" alt=""
                                class="img-fluid"></div>
                    </div>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-6 text-center">
                    <div class="client-logo">
                        <div class="client-logo-img"> <img src="{% static 'easyloanstatic/images/client-logo/logo-clearbit.png' %}" alt=""
                                class="img-fluid">
                        </div>
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- row -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Client Logo -->
{% include 'easyloanexpress/footer.html' %}
    <!-- /JS -->

</body>

</html>


