<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!------ Include the above in your HEAD tag ---------->

<section class="newsletter">
<div class="container">
<div class="row">
<div class="col-sm-12">
  <div class="content">
  <div class="input-group">
         </span>
          </div>
  </div>
</div>
</div>
</div>
</section>
<div class="container">
  <h2 id='loantrack'>Loan Tracking</h2><table>
  <tr>
    <th style="width:50%">Full Name</th>
    <th>Max White</th>

  </tr>
  <tr>
    <td>Address</td>
    <td><i class="fa fa-remove"></i></td>
  </tr>
  <tr>
    <td>Loan Amount</td>
    <td><i class="fa fa-check"></i></td>
  </tr>
  <tr>
    <td>Monthly Installment</td>
    <td> Some text ffffffffffff</td>
  </tr>
  <tr>
    <td>Total Payback</td>
    <td><i class="fa fa-remove"></i></td>
  </tr>
  <tr>
    <td>Payment Date</td>
    <td><i class="fa fa-check"></i></td>
  </tr>
    <tr>
    <td>Tracking No</td>
    <td><i class="fa fa-check"></i></td>
  </tr>
      <tr>
    <td>Verification Status</td>
    <td>Incomplete needs to complete the verification process before 11:00 AM EST</td>
  </tr>
        <tr>
    <td>Description</td>
    <td><i class="fa fa-check"></i></td>
  </tr>
</table>
  <div class="progress">

    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; color: white;">
      70%

    </div>

  </div>
</div>

<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 16px;
  font-family: Potra;
  font-size: 16px;
}

th:first-child, td:first-child {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}

#loantrack{
  color: white;
  text-align: center;
  background-color: black;
  font-family: Potra;
}
</style>
<body>





</body>
<script type="text/javascript"></script>
</html>
