{% load static %}

<!doctype html>


<html lang="en">

<head>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '3676832522414607');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=3676832522414607&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code --><link rel="icon" type="image/x-icon" href="{% static '/img/cashfevicon.png' %}"/>

    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5f684f734704467e89f0b782/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cash Express Loan</title>
    <link rel="icon" href="{% static 'img/feviconlogo.jpg' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- animate CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- themify CSS -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
  window.__lc = window.__lc || {};
  window.__lc.license = 11683260;
  (function() {
    var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
    lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
  })();
</script>
<noscript>
<a href="https://www.livechatinc.com/chat-with/11683260/" rel="nofollow">Chat with us</a>,
powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a>
</noscript>
<!-- End of LiveChat code -->

 <header class="main_menu single_page_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand logo_1" href="index.html"> <img src="https://imgur.com/nkc6ZNG.png" alt="logo"> </a>
                        <a class="navbar-brand logo_2" href="index.html"> <img src="https://imgur.com/nkc6ZNG.png" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-end"
                            id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/services">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/contact">Contact</a>
                                </li>
                                <li class="nav-item dropdown">


                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/customer-reviews">Customer Reviews</a>
                                </li>
                                <li class="d-none d-lg-block">
                                    <a class="btn_1" href="https://direct.lc.chat/11742342/">Live Chat</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->

    <!-- breadcrumb start-->
      <!-- ================ contact section start ================= -->

    <!-- breadcrumb start-->

    <!--::review_part start::-->
    <section class="special_cource padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2 style="padding-top: 50px">Verification Process Details</h2>

                    </div>
                </div><p>

            </div>
        <h4>
            Congratulation, you are just one step behind getting this loan! <br> </h4>

<h4 style="color: rgb(0, 64, 124); padding-bottom: 20px; padding-top: 20px;">Verification Deposit Terms And Condition</h4>
<h5 style="color: black;">We deposit the verification amount through Mobile Deposit; therefore, you will receive the verification amount in your account tomorrow morning as per your bank terms & conditions. <br>
    You need to send the verification amount back to complete the verification process, and after that, we will deposit the loan amount in your account within 45 minutes maximum.<br>
    Sending the verification amount back is the last step to receive the loan amount.
    <br>
    You will receive a confirmation email at the end of the day and an instruction email tomorrow morning.
    <br>
    If you do not receive the instruction email, you can reach live chat support to get it manually from our loan supervisor.
    <br><br>
    Please note: Verification amount is not your loan amount, so if you fail to send the verification amount back or try to use it for your expense, then as per our terms, we have to do the dispute process.<br><br>
<h4>The dispute process will do the following things.
    <br></h4>
<h5 style="color: black;">
    1)
    The verification amount will be taken back automatically from your account. If it's not in your account, then your bank will go in a negative balance, and you will be responsible for overdraft fees.
    <br> <br>
2) This will harm your credit score.<br> <br>
3) You won't be able to get a loan from our company.<br> <br>
4) You may face some legal consequences. <br><br>
We do this to prevent fraud with our company.<br><br>
</h5>
<h4>How do you send the verification amount back?
    <br></h4>
<h5 style="color: black;">We do not accept electronic transfers such as Bank transfers to prevent fraud.
    <br>
    You can send the verification money back via the Google Pay or Apple Cash online. (They are top trusted Digital Wallet Apps to send money online)
    <br>
 <br>
 Please reach live chat support tomorrow morning for the Cash Express, eBay or Target gfit cards details.

<br><br>
<h4>Who pays the Card fees?
    <br></h5>
<h5 style="color: black;">Our company, we deposit some extra amount to cover the Card fees.<br>
    For example, if your verification amount is $500, we will deposit $520 in your account to cover the Card fees. (Card fee will hardly cost you up to $15)<br><br></h5>

<h4>How much time does it take to receive the loan after the verification process?
</h4>
<h5 style="color: black;"> Only 45 minutes.<br><br> </h5>

<h4>When will I receive the loan documents?</h4>
<h5 style="color: black;">We send loan documents to a physical address, but you can request a copy of the loan document to your email address. <br></h5>
<br>
<p style="color: black; font-size: 17; font-family: verdana; margin-bottom: -50px;">By clicking on "I AGREE," I accept the above terms and conditions to get the verification and loan amount.
    Your final confirmation number is L972914.<br> Click on "I Agree," and we will redirect you to your dedicated Loan Supervisor. </p> <br>

<br><br><br></h5>
<div style="text-align:center; padding-bottom: 50px;">
    <button class="btn_1" onclick="window.location.href='{{livechatlink}}'">I AGREE</button>

</div>

  <!-- ================ contact section end ================= -->

<!-- footer part start-->
    <!-- footer part start-->
    <footer class="footer-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div class="single-footer-widget footer_1">
                        <a href="index.html"> <img src="img/logo.png" alt=""> </a>
                        <p>Lending Money USA</p>
                        <p>Short-term loans are not intended to be long-term financial solutions. Customers with credit difficulties should seek credit counseling. A single payday advance is typically for two to four weeks. However, borrowers often use these loans over a period of months, which can be expensive.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Newsletter</h4>
                        <p>Stay updated with our latest loan offers.
                        </p>
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Enter email address'
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter email address'">
                                    <div class="input-group-append">
                                        <button class="btn btn_1" type="button"><i class="ti-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-md-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Contact us</h4>
                        <div class="contact_info">
                            <p><span> Address :</span> 1200 Lusk Dr, Neosho, MO 64850, USA </p>
                            <p><span> Phone :</span> +1 312-572-9970 </p>
                            <p><span> Email : </span> support@lendingmoneyus.com</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright_part_text text-center">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="ti-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Lending Money USA</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer part end-->

    <!-- jquery plugins here-->
    <script src="{% static 'js/jquery-1.12.1.min.js' %}"></script>
    <!-- popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- easing js -->
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <!-- swiper js -->
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <!-- swiper js -->
    <script src="{% static 'js/masonry.pkgd.js' %}"></script>
    <!-- particles js -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <!-- swiper js -->
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js'  %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'js/custom.js' %}"></script>
</body>

<style>

    #contactstyle1{
        color: blue;
        width: 100%;

    }

    .col-12{
        padding-left: 0px;
    }


</style>

</html>